* {
  margin: 0;
  padding: 0;
}

html {
    background-color: #f2f2f2;
    margin: 0;
    padding: 0;
}

body {
  margin: auto;
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 24px;
  font-weight: 700;
  background: #ffffff;
  color: #000000;
  text-transform: uppercase;

  width: 1200px;

  box-shadow: 0 0 7px 7px rgb(200,200,200,0.3);
}

a {
  text-decoration: none;
  color: black;
}

span {
  display: block;


}

/*header*/
.sedona-header {
  width: 1200px;
  min-height: 56px;
}

.header-navigation {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/*Навигационное меню*/

.navigation-list {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content:space-between;
  align-items: center;

  margin: 0;
  padding: 0;
  width: 1000px;
  height: 56px;
}

.navigation-list li {
  flex-grow: 1;
}

.navigation-list a {
  font-size: 14px;
  color: #000000;
}

/*Логотип*/

.header-logo {
  order: -1;
  display: block;
  position: absolute;
  width: 140px;
  height: 72px;
}

/*Цвет ссылок*/
a:hover {
  color: #81b3d2;
}

a:active {
  color: #b2b2b2;
}

.navigation-list .active-item {
  color: #766357;
}


/*Расположение текста li*/
.navigation-list li:nth-of-type(1n+1) { /* ТЗ 3.4 */
  text-align: left;
}

.navigation-list li:nth-of-type(1n+3) { /* ТЗ 3.4 */
  text-align: right;
}

/*header end*/

/*Main*/

/*Welcome to Sedona*/
.main-head {
  background: url('../img/polygon.svg'),url('../img/welcome.svg'), url('../img/welcome-bg.jpg');
  background-repeat: no-repeat, no-repeat, no-repeat;
  background-size: 1200px 59px, 459px 353px, cover;
  background-position: bottom, 50% 85px, center -50px;
  background-attachment: local, local, scroll;
  height: 509px;
}

.main-head-content {
  display: block;
  position: absolute;
  width: 1200px;
  height: 218px;
  top: 564px;
  background-color: #fff;
}

.main-head-content h1 {
  text-align: center;
  margin-top: 55px;
  font-size: 21px;
}
.main-head-content p {
  text-align: center;
  margin-top: 30px;
  font-size: 14px;
  font-weight: 400;
}

.main-advantages-and-services {
  margin-top: 218px;
}

.img-wrap {
  overflow: hidden;
  width: 800px;
  height: 256px;
}

.main-head img {
  width: 800px;
  height: 400px;
}

.advantages-list, .services-list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  text-align: center;
}

.services-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 400px;
  height: 331px;
}

.services-item svg {
  width: 72px;
  height: 72px;
  margin-top: 60px;
  margin-bottom: 30px;
}

.advantages-item-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 400px;
  height: 256px;
  margin: 0;
  padding: 0;
}

.advantages-item {
  color: white;
  background-color: #81b3d2;
  display: flex;
  width: 1200px;
  margin: 0;
  padding: 0;
}

.advantages-item-content h3, .services-item h3 {
  font-size: 21px;
}

.advantages-item-content p, .services-item p {
  font-size: 14px;
  font-weight: 400;
}

.advantages-item-content:nth-of-type(1n+3) {
  background-color: #eee;
}

.content {
  display: flex;
  flex-direction: column;
  width: 307px;
  height: 166px;
  margin: 0;
  padding: 0;
}

.content p {
  margin-top: 22px;
}

/*offers*/

.main-offers {
  position: relative;
}

.main-offers h2 {
  font-size: 30px;
  text-align: center;
  margin-top: 54px;
}

.offers-choice {
  font-size: 14px;
  font-weight: 400;
  text-align: center;
  margin-top: 34px;
  margin-bottom: 139px;
}

/*offers form*/

.offers-hotel {
  position: absolute;
  width: 568px;
  height: 481px;
  left: 26%;
  top: 100px;
}

.offers-hotel h2 {
  background-color: #766357;
  color: #fff;
  font-size: 21px;
  text-align: center;
  width: 568px;
  padding: 33px 0;
}

.offers-hotel a:hover h2{
  background-color: #604e43;
}

.offers-hotel a:active h2{
  background-color: #503e33;
  color: #857871;
}

.offers-form {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border: 0;
  width: 568px;
  height: 395px;
  background-color: #fff;
  font-size: 14px;
}

.form-fieldset {
  margin-top: 58px;
  width: 458px;
  height: 173px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: stretch;
  justify-content: space-between;
}

.form-fieldset ul {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.offers-form label {
  margin-top: 7px;
}

.form-fieldset input {
  width: 345px;
  height: 38px;
  border: 0;
  background-color: #f2f2f2;
  padding-left: 11px;
}

.form-fieldset input::placeholder {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 14px;
  color: #000;
  font-weight: 700;
  text-transform: uppercase;
}

.field-content {
  position: relative;
  display: flex;
  flex-direction: row;
  width: 458px;
  height: 38px;
  align-items: stretch;
  justify-content: space-between;
}

.field-content svg {
  position: absolute;
  width: 21px;
  height: 21px;
  top: 8px;
  right: 12px;
  fill: #cacaca;
}

.field-content svg:hover {
  fill: #000;
}

.field-content svg:active {
  fill: #81b3d2;
}

.field-content input:hover {
  background-color: #ebebeb;
}

.field-content input:focus {
  background-color: #fff;
  outline-color: #e5e5e5;
}

.field-number-one {
  position: relative;
  display: flex;
  width: 216px;
  height: 38px;
  flex-direction: row;
  justify-content: space-between;
}

.field-number-two {
  position: relative;
  display: flex;
  width: 180px;
  height: 38px;
  flex-direction: row;
  align-items: stretch;
  justify-content: space-between;
}

.field-number svg:hover {
  fill: #000;
}

.input-number {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: stretch;
  width: 114px;
  height: 38px;
}

.input-number input {
  width: 38px;
  height: 38px;
  text-align: center;
  padding: 0;
}

.input-number input[type='submit'] {
  color: #a9a9a9;
  font-weight: 700;
  font-size: 21px;
}

.input-number input[type='submit']:first-child {
  padding-bottom: 2px;
}

.input-number input[type='submit']:hover {
  color: #000;
}

.input-number input[type='submit']:active {
  color: #81b3d2;
}

.offers-find {
  font-size: 21px;
  font-weight: 700;
  color: #fff;
  background-color: #81b3d2;
  width: 458px;
  height: 58px;
  border: 0;
  margin: auto auto 55px auto;
}

.offers-find:hover {
  background-color: #669ec0;
}

.offers-find:active {
  background-color: #5496bd;
  color: #73a9c9;
}

/*offers form end*/

/*footer*/
.sedona-footer {
  margin: 0;
  padding: 0;
  height: 120px;
  background-color: rgba(255,255,255,0.8);
}

.footer-VISIT {
  width: 240px;
  font-size: 21px;
  margin: 0;
  text-align: center;
  margin-left: 72px;
}

.footer-social {
  width: 150px;
  margin-left: 212px;
}

.footer-social ul {
  display: flex;
  width: 150px;
  flex-wrap: wrap;
  justify-content: space-between;
  list-style: none;
}

.social-button {
  background-color: #81b3d2;
  width: 46px;
  height: 46px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.social-button svg {
  fill: #fff;
}

.social-button:hover {
  background-color: #669ec0;
}

.social-button:active {
  background-color: #5496bd;
}

.social-button:active svg {
  fill: #88b6d1;
}

.footer-copyright {
  display: flex;
  text-align: center;
  width: 240px;
  align-items: center;
  justify-content: center;
  margin-left: 213px;
}

.footer-copyright a{
  margin-left: 8px;
}

.footer-copyright span{
  margin-bottom: 8px;
}

.htmlacademy_icon {
  width: 115px;
  height: 41px;
}

.htmlacademy_icon:hover {
  fill: #81b3d2;
}

.htmlacademy_icon:active {
  fill: #bdbbbc;
}
/*footer end*/

/*flex-container*/
.container {
  display: flex;
  width: 1070px;
  height: 120px;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin: 0;
}

/*none-visible*/
.visible-hidden {
  visibility: hidden;
  position: absolute;
}


/*******/

/* sedona-hotels-main*/


/*hotels end*/
.main-hostle-filters {
  width: 1200px;
  height: 217px;
  background-image: url('../img/filter-bg.jpg');
  background-position: center -100px;
}

.hostle-filters-form {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 1000px;
  height: 150px;
  margin: auto;
  color: #fff;
}

.hostle-filters-form ul {
  list-style: none;
  font-weight: 400;
}

.hostle-filters-form li {
  margin-top: 25px;
}

.hostle-filters-form h3 {
  font-size: 16px;
  font-weight: 700;
}

.hostle-filters-form input[type='checkbox']{
  display: none;
}

.hostle-filters-form label {
  padding-left: 40px;
  height: 25px;
  width: 140px;
  display: block;
  position: relative;
  background-image: url('../img/checkbox-off.svg');
  background-size: 23px 23px;
  background-repeat: no-repeat;
}

input[type=checkbox]:checked + label {
  background-image: url('../img/checkbox-on.svg');
  background-size: 27px 23px;
  background-repeat: no-repeat;
}

.hostle-filters-form fieldset {
  border: 0;
  padding: 0;
}

.hostle-filters-form fieldset:nth-of-type(1) {
  width: 241px;
  height: 150px;
  margin-top: 38px;
}

.hostle-filters-form fieldset:nth-of-type(2) {
  width: 288px;
  height: 150px;
  margin-top: 38px;
  margin-left: 15px;
}

.hostle-filters-form fieldset:nth-of-type(3) {
  width: 328px;
  height: 150px;
  margin-top: 38px;
  margin-left: 115px;
}

.show-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.hostle-filters-form table {
  width: 306px;
  height: 30px;
  border: 2px solid #fff;
  border-radius: 3px;
  padding: 4px;
  margin-top: 10px;
}

.hostle-filters-form td {
  width: 155px;
  text-align: center;
  font-weight: 400;
}

.hostle-filters-form td:nth-of-type(1) {
  border-right: 2px solid #fff;
}


.range {
  display: flex;
  flex-direction: row;
  position: relative;
}

.range svg {
  stroke: #fff;
  stroke-width: 5px;
  margin-top: 20px;
}

.range line:nth-of-type(2) {
  stroke: rgb(255, 255, 255, 0.5);
}

.thumb {
  background-image: url('../img/filter-button.svg');
  background-size: cover;
  width: 20px;
  height: 22px;
  position: absolute;
  left: 0px;
  top: 10px;
}

.thumb:hover {
  width: 22px;
  height: 24px;
  background-size: cover;
}

.thumb:nth-of-type(2) {
  left: 250px;
}

.hostle-filters-form button {
  width: 139px;
  height: 38px;
  color: #fff;
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 14px;
  background: none;
  border:2px solid #fff;
  border-radius: 3px;
  margin-top: 30px;
}

.hostle-filters-form button:hover {
  background-color: #fff;
  color: #000;
}

/*Раздел сортировки*/

.hostel-sort {
  width: 1200px;
  height: 86px;
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: space-between;
}

.hostel-sort span {
  font-size: 21px;
  font-weight: 700;
}

.hostel-sort h3 {
  font-size: 12px;
  font-weight: 400;
  margin-left: 45px;
}

.hostel-sort a {
  font-size: 12px;
  font-weight: 400;
}

.sort-content {
  width: 1000px;
  height: 86px;
  margin: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content:space-between;
}

.sort-type {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.sort-list {
  list-style: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content:flex-start;
  width: 288px;
  height: 86px;
}

.sort-list li {
  margin-left: 35px;
}

.sort-list a {
  color: #bcbcbc;
  border-bottom: 1px dashed #81b3d2;
}

.sort-list a:hover {
  color: #81b3d2;
}

.sort-list a:active {
  color: #000;
  border: 0;
}

.active-item a {
  color: #81b3d2;
  border: 0;
}

.sort-buttons a {
  margin-left: 10px;
}

.sort-buttons svg {
  fill: #cacaca;
}

.sort-buttons a:hover svg {
  fill: #000;
}

.sort-buttons a:active svg {
  fill: #81b3d2;
}

.sorted svg {
  fill: #81b3d2;
}

/*Список отелей*/

.hostels-section {
  width: 1200px;
  height: 452px;
  display: block;
  position: relative;
}

.hostel-list {
  list-style: none;
}

.hostel-item {
  width: 1200px;
  height: 150px;
  border-top: 1px solid #e5e5e5;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hostel-item:nth-last-of-type(1) {
  border-bottom: 1px solid #e5e5e5;
}

.item-container {
  display: flex;
  flex-direction: row;
  width: 1000px;
  height: 90px;
  margin: auto;
  align-items: stretch;
  justify-content: space-between;
}

.hostel-item-content {
  display: flex;
  flex-direction: row;
  flex-wrap:wrap;
  width: 700px;
}

.hostel-item-content p:nth-of-type(2) {
  padding-left: 6px;
}

.hostel-item-content h3 {
  font-size: 21px;
  margin-top: -4px;
}

.hostel-item-content span {
  font-size: 14px;
  font-weight: 400;
  margin-bottom: 13px;
}

.item-detail {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 280px;
  height: 95px;
  margin-left: 30px;
}

.detail {
  padding: 4.5px 17px;
  background-color: #81b3d2;
  font-size: 14px;
  color: #fff;
}

.detail:hover {
  background-color: #669ec0;
  color: #fff;
}

.detail:active {
  background-color: #5496bd;
  color: #88b6d1;
}

.reserve {
  padding: 4.5px 17px;
  background-color: #766357;
  font-size: 14px;
  color: #fff;
}

.reserve:hover {
  background-color: #604e43;
  color: #fff;
}

.reserve:active {
  background-color: #503e33;
  color: #857871;
}

.hostel-item-rate {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.rate {
  text-align: right;
}

.hostel-item-rate span {
  background-color: #f2f2f2;
  font-size: 14px;
  font-weight: 400;
  padding: 1.5px 14px;
}
