.form-fieldset input,html {
    background-color: #f2f2f2
}

body {
    margin: auto;
    font-family: "PT Sans",Arial,sans-serif;
    font-weight: 700;
    background: #fff;
    text-transform: uppercase;
    width: 1200px;
    -webkit-box-shadow: 0 0 7px 7px #ccc;
      box-shadow: 0 0 7px 7px #ccc
}

a {
    text-decoration: none;
    color: #000
}

.sedona-header {
    width: 100%
}

.header-navigation {
    width: 1200px;
    position: relative
}

.main-header-logo {
    position: absolute;
    left: 44.5%
}

.left-items,.navigation-list-containter,.right-items {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
      -ms-flex-pack: justify;
        justify-content: space-between
}

.navigation-list-containter {
    -ms-flex-wrap: wrap;
      flex-wrap: wrap;
    min-height: 56px;
    margin: 0;
    width: 1200px;
    padding: 0
}

.navigation-list-container a,body {
    font-size: 14px;
    color: #000
}

.left-items,.right-items {
    -webkit-box-sizing: content-box;
      box-sizing: content-box;
    -webkit-box-align: center;
      -ms-flex-align: center;
        align-items: center;
    list-style: none;
    width: 338px;
    padding: 0 0 0 73px
}

.right-items {
    padding: 0 73px 0 0
}

a:hover {
    color: #81b3d2
}

a:active {
    color: #b2b2b2
}

.nav-active-item {
    color: #766357
}

.sedona-main {
    width: 100%
}

.main-head {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: end;
      -ms-flex-align: end;
        align-items: flex-end;
    -webkit-box-pack: center;
      -ms-flex-pack: center;
        justify-content: center;
    width: 1200px;
    height: 724px;
    background: url(../img/main-logo.jpg);
    background-color: #637887;
    margin-bottom: 58px
}

.main-head-content {
    width: 576px;
    text-align: center
}

.main-head-content h1,.main-offers h2 {
    text-align: center;
    font-size: 21px
}

.main-head-content p {
    margin-top: 30px;
    font-size: 14px;
    font-weight: 400
}

.main-advantages-and-services {
    width: 100%
}

.advantages-list {
    padding: 0;
    width: 1200px
}

.advantages-list,.services-item,.services-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-direction: normal;
    margin: 0
}

.services-list {
    padding: 0;
    width: 1200px
}

.advantages-list {
    -ms-flex-wrap: wrap;
      flex-wrap: wrap;
    list-style: none;
    -webkit-box-orient: vertical;
      -ms-flex-direction: column;
        flex-direction: column
}

.services-list {
    -webkit-box-orient: horizontal;
      -ms-flex-direction: row;
        flex-direction: row
}

.services-item {
    -webkit-box-orient: vertical;
      -ms-flex-direction: column;
        flex-direction: column;
    -webkit-box-align: center;
      -ms-flex-align: center;
        align-items: center;
    -webkit-box-pack: center;
      -ms-flex-pack: center;
        justify-content: center;
    width: 400px;
    padding: 138px 0 76px
}

.services-content {
    position: relative;
    text-align: center;
    width: 304px;
    margin-bottom: 10px
}

.services-content p {
    text-align: center;
    margin: 0;
    padding: 0;
    width: 300px
}

.first:before {
    width: 75px;
    height: 72px;
    background-image: url(../img/icon-1.svg);
    left: 114px
}

.first:before,.second:before,.third:before {
    position: absolute;
    content: "";
    top: -80px
}

.second:before {
    width: 74px;
    height: 70px;
    background-image: url(../img/icon-3.svg);
    left: 113px
}

.third:before {
    width: 64px;
    height: 76px;
    background-image: url(../img/icon-2.svg);
    left: 120px
}

.advantages-item-content,.advantages-list-2 {
    -webkit-box-direction: normal;
    margin: 0;
    padding: 0
}

.advantages-list-2 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 1200px;
    -webkit-box-orient: horizontal;
      -ms-flex-direction: row;
        flex-direction: row
}

.advantages-item-content {
    -webkit-box-orient: vertical;
      -ms-flex-direction: column;
        flex-direction: column;
    text-align: center
}

.advantages-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 1200px;
    color: #fff;
    background-color: #81b3d2;
    margin: 0;
    padding: 0
}

.main-advantages-and-services h3 {
    font-size: 21px
}

.main-advantages-and-services p {
    font-size: 14px;
    font-weight: 400
}

.last {
    background-color: #eee;
    padding: 61px 0 65px
}

.advantages-item-content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
      -ms-flex-align: center;
        align-items: center;
    -webkit-box-pack: center;
      -ms-flex-pack: center;
        justify-content: center;
    width: 400px
}

.content {
    min-height: 142px;
    width: 300px;
    margin-top: -15px;
    text-align: center
}

.content h3 {
    margin: 0;
    padding: 0 74.5px;
    text-align: center
}

.last p {
    margin: 26px 0 0;
    padding: 0 15px
}

.main-offers {
    position: relative
}

.main-offers h2 {
    font-size: 30px;
    margin-top: 54px
}

.offers-choice {
    text-align: center;
    font-size: 14px;
    font-weight: 400;
    margin: 34px auto 122px
}

.offers-hotel {
    position: absolute;
    width: 568px;
    left: 26%;
    top: 133px
}

.offers-hotel h2 {
    background-color: #766357;
    color: #fff;
    font-size: 21px;
    text-align: center;
    width: 568px;
    padding: 33px 0;
    margin: 0
}

.offers-hotel a:hover h2 {
    background-color: #604e43
}

.offers-hotel a:active h2 {
    background-color: #503e33;
    color: #857871
}

.form-fieldset,.form-fieldset ul,.offers-form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-direction: normal
}

.offers-form {
    -webkit-box-align: center;
      -ms-flex-align: center;
        align-items: center;
    -webkit-box-orient: vertical;
      -ms-flex-direction: column;
        flex-direction: column;
    border: 0;
    width: 568px;
    background-color: #fff;
    font-size: 14px;
    -webkit-box-pack: center;
      -ms-flex-pack: center;
        justify-content: center
}

.form-fieldset,.form-fieldset ul {
    -webkit-box-pack: justify;
      -ms-flex-pack: justify;
        justify-content: space-between
}

.form-fieldset {
    -ms-flex-wrap: wrap;
      flex-wrap: wrap;
    -webkit-box-align: stretch;
      -ms-flex-align: stretch;
        align-items: stretch;
    margin-top: 58px;
    width: 458px;
    -webkit-box-orient: horizontal;
      -ms-flex-direction: row;
        flex-direction: row
}

.form-fieldset ul {
    -webkit-box-orient: vertical;
      -ms-flex-direction: column;
        flex-direction: column;
    margin: 0;
    padding: 0
}

.offers-form label {
    margin-top: 7px
}

.form-fieldset input {
    border: 0
}

.date-input {
    width: 318px;
    -ms-flex-item-align: end;
      align-self: flex-end;
    padding: 11px 14px
}

.form-fieldset input:-ms-input-placeholder {
    font-family: "PT Sans",Arial,sans-serif;
    font-size: 14px;
    color: #000;
    font-weight: 700;
    text-transform: uppercase
}

.form-fieldset input::-webkit-input-placeholder {
    font-family: "PT Sans",Arial,sans-serif;
    font-size: 14px;
    color: #000;
    font-weight: 700;
    text-transform: uppercase
}

.form-fieldset input::-ms-input-placeholder {
    font-family: "PT Sans",Arial,sans-serif;
    font-size: 14px;
    color: #000;
    font-weight: 700;
    text-transform: uppercase
}

.form-fieldset input::placeholder {
    font-family: "PT Sans",Arial,sans-serif;
    font-size: 14px;
    color: #000;
    font-weight: 700;
    text-transform: uppercase
}

.field-content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
        -ms-flex-direction: row;
          flex-direction: row;
    -webkit-box-pack: justify;
      -ms-flex-pack: justify;
        justify-content: space-between;
    -webkit-box-align: center;
      -ms-flex-align: center;
        align-items: center;
    width: 458px;
    margin-bottom: 29px;
    padding: 0;
    position: relative
}

.field-content svg {
    position: absolute;
    top: 8px;
    right: 8px;
    fill: #a9a9a9
}

.field-content svg:hover,.sort-buttons a:hover svg {
    fill: #000
}

.field-content svg:active {
    fill: #81b3d2
}

.field-content input:hover {
    background-color: #ebebeb
}

.field-content input:focus {
    background-color: #fff;
    outline-color: #e5e5e5
}

.field-number-one,.field-number-two,.input-number {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
        -ms-flex-direction: row;
          flex-direction: row;
    -webkit-box-pack: justify;
      -ms-flex-pack: justify;
        justify-content: space-between
}

.field-number-one {
    position: relative;
    width: 226px
}

.field-number-two,.input-number {
    -webkit-box-align: stretch;
      -ms-flex-align: stretch;
        align-items: stretch
}

.field-number-two {
    position: relative;
    width: 180px
}

.input-number {
    margin: 0;
    padding: 0
}

.offers-input {
    width: 38px;
    text-align: center;
    padding: 10px 0;
    margin: 0
}

.input-number input[type=submit] {
    color: #a9a9a9;
    font-weight: 700;
    font-size: 14px
}

.input-number input[type=submit]:hover {
    color: #000
}

.input-number input[type=submit]:active,.sort-list a:hover {
    color: #81b3d2
}

.btn {
    width: 38px
}

.elder-minus {
    right: 76px
}

.elder-plus {
    right: 0
}

.childs-minus {
    right: 76px
}

.childs-plus {
    right: 0
}

.offers-find {
    font-size: 21px;
    font-weight: 700;
    text-transform: uppercase;
    color: #fff;
    background-color: #81b3d2;
    width: 458px;
    border: 0;
    margin: 25px auto 55px;
    padding: 16px 0
}

.offers-find:hover {
    background-color: #669ec0
}

.offers-find:active {
    background-color: #5496bd;
    color: #73a9c9
}

.footer-visit,.sedona-footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 0
}

.sedona-footer {
    -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
        -ms-flex-direction: row;
          flex-direction: row;
    padding: 27px 0;
    background-color: rgba(255,255,255,.8);
    width: 100%
}

.footer-visit {
    font-size: 21px;
    text-align: center
}

.footer-social,.footer-visit {
    -webkit-box-align: center;
      -ms-flex-align: center;
        align-items: center;
    -webkit-box-pack: center;
      -ms-flex-pack: center;
        justify-content: center;
    width: 400px
}

.footer-copyright,.footer-social,.footer-social ul,.social-button {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex
}

.footer-social ul {
    -ms-flex-wrap: wrap;
      flex-wrap: wrap;
    list-style: none;
    width: 150px;
    margin: 0;
    padding: 0;
    -webkit-box-pack: justify;
      -ms-flex-pack: justify;
        justify-content: space-between
}

.footer-copyright,.social-button {
    -webkit-box-align: center;
      -ms-flex-align: center;
        align-items: center;
    -webkit-box-pack: center;
      -ms-flex-pack: center;
        justify-content: center
}

.social-button {
    -ms-flex-wrap: wrap;
      flex-wrap: wrap;
    background-color: #81b3d2;
    height: 48px;
    width: 46px
}

.social-button svg {
    fill: #fff
}

.social-button:hover {
    background-color: #669ec0
}

.social-button:active {
    background-color: #5496bd
}

.social-button:active svg {
    fill: #88b6d1
}

.footer-copyright {
    width: 400px
}

.footer-copyright a {
    margin-left: 8px
}

.footer-copyright span {
    font-weight: 400
}

.footer-copyright svg {
    width: 115px;
    height: 41px
}

.footer-copyright svg:hover,.sort-buttons a:active svg {
    fill: #81b3d2
}

.footer-copyright svg:active {
    fill: #bdbbbc
}

.visible-hidden {
    visibility: hidden;
    position: absolute
}

.main-hostle-filters {
    width: 1200px;
    background-image: url(../img/filter-bg.jpg);
    background-color: #425463;
    background-position: center -100px
}

.hostle-filters-form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
        -ms-flex-direction: row;
          flex-direction: row;
    -webkit-box-align: center;
      -ms-flex-align: center;
        align-items: center;
    -webkit-box-pack: start;
      -ms-flex-pack: start;
        justify-content: flex-start;
    -ms-flex-wrap: wrap;
      flex-wrap: wrap;
    width: 1056px;
    padding: 0 72px;
    color: #fff
}

.hostle-filters-form fieldset {
    border: 0;
    padding: 0;
    margin: 27px 0 38px
}

.hostle-filters-form fieldset:nth-of-type(1) {
    width: 241px
}

.hostle-filters-form fieldset:nth-of-type(2) {
    width: 288px;
    margin-left: 15px
}

.hostle-filters-form fieldset:nth-of-type(3) {
    width: 328px;
    margin-left: 184px
}

.hostle-filters-form input[type=checkbox] {
    display: none
}

.hostle-filters-form label {
    padding-left: 40px;
    width: 140px;
    position: relative
}

.hostle-filters-form label::before {
    position: absolute;
    content: "";
    width: 30px;
    height: 30px;
    left: 0;
    top: -2px;
    background-image: url(../img/checkbox-off.svg);
    background-repeat: no-repeat;
    background-size: 24px 24px
}

input[type=checkbox]:checked+label::before {
    position: absolute;
    content: "";
    width: 30px;
    height: 30px;
    left: 0;
    top: -2px;
    background-image: url(../img/checkbox-on.svg);
    background-repeat: no-repeat;
    background-size: 28px 24px
}

.hostle-filters-form ul {
    list-style: none;
    font-weight: 400;
    margin: 0;
    padding: 0
}

.hostle-filters-form li {
    margin-top: 25px
}

.hostle-filters-form h3 {
    font-size: 16px;
    font-weight: 700;
    margin: 0;
    padding: 0
}

.show-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
      -ms-flex-align: center;
        align-items: center;
    -webkit-box-pack: center;
      -ms-flex-pack: center;
        justify-content: center
}

.hostle-filters-form table {
    border: .13em solid #fff;
    border-radius: 3px;
    padding: 4px;
    margin-top: 10px
}

.hostle-filters-form td {
    width: 155px;
    text-align: center;
    font-weight: 400
}

.hostle-filters-form td:nth-of-type(1) {
    border-right: 2px solid #fff
}

.range {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
        -ms-flex-direction: row;
          flex-direction: row;
    position: relative;
    width: 100%;
    min-height: .13em;
    background-image: url(../img/stroke.png);
    margin: 20px 0 0;
    padding: 0
}

.thumb {
    border-radius: 50%;
    border: 1px solid #fff;
    background: #fff;
    width: 20px;
    height: 20px;
    position: absolute;
    left: 0;
    top: -11px
}

.thumb:nth-of-type(2) {
    left: 250px
}

.hostle-filters-form button {
    width: 139px;
    text-transform: uppercase;
    color: #fff;
    font-family: "PT Sans",Arial,sans-serif;
    font-size: 14px;
    background: 0 0;
    border: 2px solid #fff;
    border-radius: 3px;
    margin-top: 30px;
    padding: 8px 15px
}

.hostle-filters-form button:hover {
    background-color: #fff;
    color: #000
}

.hostel-sort,.sort-content {
    -webkit-box-pack: justify;
      -ms-flex-pack: justify;
        justify-content: space-between
}

.hostel-sort {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
        -ms-flex-direction: row;
          flex-direction: row;
    -webkit-box-align: stretch;
      -ms-flex-align: stretch;
        align-items: stretch;
    width: 1200px
}

.hostel-sort span {
    font-size: 21px;
    font-weight: 700
}

.hostel-sort h3 {
    margin-left: 45px
}

.hostel-sort a,.hostel-sort h3 {
    font-size: 12px;
    font-weight: 400
}

.sort-content {
    padding: 21px 72px;
    width: 1056px;
    margin: auto
}

.sort-content,.sort-list,.sort-type {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
        -ms-flex-direction: row;
          flex-direction: row;
    -webkit-box-align: center;
      -ms-flex-align: center;
        align-items: center
}

.sort-list {
    -webkit-box-pack: start;
      -ms-flex-pack: start;
        justify-content: flex-start;
    width: 288px;
    list-style: none
}

.sort-list li {
    margin-left: 35px
}

.sort-list a {
    color: #bcbcbc;
    border-bottom: 1px dashed #81b3d2
}

.sort-list a:active {
    color: #000;
    border: 0
}

.active-item a {
    color: #81b3d2;
    border: 0
}

.sort-buttons a {
    margin-left: 10px
}

.sort-buttons svg {
    fill: #cacaca
}

.sorted svg {
    fill: #81b3d2
}

.hostels-section {
    width: 1200px;
    position: relative
}

.hostel-item,.hostel-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
      -ms-flex-align: center;
        align-items: center;
    -webkit-box-pack: center;
      -ms-flex-pack: center;
        justify-content: center;
    margin: 0;
    padding: 0
}

.hostel-list {
    list-style: none;
    -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
        -ms-flex-direction: column;
          flex-direction: column
}

.hostel-item {
    width: 1056px;
    border-top: 1px solid #e5e5e5
}

.hostel-item:nth-last-of-type(1) {
    border-bottom: 1px solid #e5e5e5
}

.hostel-item-content,.item-container {
    -webkit-box-orient: horizontal;
      -ms-flex-direction: row;
        flex-direction: row
}

.item-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-direction: normal;
      -webkit-box-align: stretch;
        -ms-flex-align: stretch;
          align-items: stretch;
    -webkit-box-pack: justify;
      -ms-flex-pack: justify;
        justify-content: space-between;
    padding: 30px 0;
    margin: auto;
    width: 1056px
}

.hostel-item-content {
    -ms-flex-wrap: wrap;
      flex-wrap: wrap;
    width: 700px
}

.hostel-item-content,.hostel-item-content p,.item-detail {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-direction: normal
}

.hostel-item-content p {
    padding: 0;
    -webkit-box-pack: justify;
      -ms-flex-pack: justify;
        justify-content: space-between;
    margin: 0 6px 0 0;
    -webkit-box-orient: vertical;
      -ms-flex-direction: column;
        flex-direction: column
}

.hostel-item-content h3 {
    font-size: 21px;
    margin: 0;
    padding: 0
}

.hostel-item-content span {
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 13px
}

.item-detail {
    -webkit-box-orient: horizontal;
      -ms-flex-direction: row;
        flex-direction: row;
    -ms-flex-wrap: wrap;
      flex-wrap: wrap;
    width: 280px;
    margin-left: 30px
}

.detail {
    padding: 4.5px 17px;
    background-color: #81b3d2;
    font-size: 14px;
    color: #fff
}

.detail:hover,.reserve {
    background-color: #669ec0;
    color: #fff
}

.reserve {
    padding: 4.5px 17px;
    background-color: #766357;
    font-size: 14px
}

.detail:active {
    background-color: #5496bd;
    color: #88b6d1
}

.reserve:hover {
    background-color: #604e43;
    color: #fff
}

.reserve:active {
    background-color: #503e33;
    color: #857871
}

.hostel-item-rate {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
        -ms-flex-direction: column;
          flex-direction: column;
    -webkit-box-pack: justify;
      -ms-flex-pack: justify;
        justify-content: space-between
}

.rate {
    text-align: right
}

.hostel-item-rate span {
    background-color: #f2f2f2;
    font-size: 14px;
    font-weight: 400;
    padding: 5.5px 14.5px
}
